@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PlasticSans';
  src: url('fonts/PlasticSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'MyriadPro';
  src: url('fonts/MYRIADPRO-BOLD.OTF') format('opentype');
}

/* semantic color variables for this project */
:root {
  --brand-orange: #eb6951;
  --brand-blue: #fff;
  --brand-blue-light: #00cdff;
  --color-header: #6fb2b4;
  --color-background: #007995;
  --color-text: #ffffff;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: MyriadPro, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
