@import './base.css';

#app {
  /* max-width: 1280px; */
  font-weight: normal;
  height: 100dvh;
  display: grid;
  grid-template-rows: 64px calc(100dvh - 2 * 64px - 2 * 1rem) 64px;
  gap: 1rem;
}

main {
  @apply max-w-screen-lg mx-auto w-full min-w-0 px-2;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

input {
  @apply px-2 py-1 text-gray-900;
}

.btn {
  @apply flex items-center justify-center px-4 py-2 uppercase text-center;

  &.primary {
    background-color: var(--brand-orange);
  }

  &.secondary {
    background-color: var(--brand-blue-ligth);
  }
}
